html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    padding-bottom: 10rem;
    min-height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

hr {
    border: 1px solid #000000;
}

/*----------------------------------------------------------*/


/*Generic heading design rules*/
h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
    color: #252525;
}

h2 {
    padding: 0;
    margin: 0;
    font-size: 1.75rem;
    font-weight: 600;
}

h4 {
    font-size: 1.375rem;
    font-weight: 100;
    margin: 0;
    padding: 10px;
}

p {
}
/*Generic heading styles ends*/


/*----------------------------------------------------------*/


/*Top banner that contains logo, navigation menu and hidden hamburger menu*/
.top-banner {
    width: 100%;
    background-color: #252525;
    color: white;
    display: inline-block;
    margin: 0 auto -5px;
}

.top-banner-content {
    width: 960px;
    max-width: 100%;
    height: auto;
    margin: auto;
}
/*Top banner ends*/


/*----------------------------------------------------------*/


/*Mobile navigation including hamburger menu*/
.hamburger-menu {
    margin-top: 12px;
    color: white;
}

.hamburger-menu a {
    margin-top: 12px;
    color: white;
}

.hamburger-menu a:visited {
    margin-top: 12px;
    color: white;
}

.hamburger-menu a:focus {
    outline: none;
}

.hbm {
  width: 32px;
  height: 4px;
  background-color: white;
  margin: 5px 0;
}

.mob-top-navigation {
    overflow: auto;
    position: absolute;
    z-index: 999999;
    width: 100%;
}

.mob-top-navigation a {
    width: 100%;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #007BFE;
    color: #ffffff;
    text-align: left;
    padding-left: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    text-decoration: none;
    border-bottom: 1px solid #0065d1;
}

.mob-top-navigation a:visited {
    text-decoration: none;
    color: white;
}

.hbm-c {
   	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit; 
}

.fa-bars {
}

.hidden-class {
    display:none; 
}
/*Mobile navigation end*/


/*----------------------------------------------------------*/


/*logo styles*/
.brand-logo {
    width: 300px;
    float: left;
    line-height: 60px;
    font-size: 1.875rem;
    text-decoration: underline;
    text-decoration-color: #707070;
    text-decoration-style: solid; 
}

.brand-logo a {
    text-decoration: none;
    color: white;
}

.brand-logo a:visited {
    text-decoration: none; 
    color: #ffffff;
}
/**/


/*----------------------------------------------------------*/


/*Desktop navigation link styles*/
.top-navigation {
    float: right;
    list-style-type: none;  
    margin: 0;
    padding: 0;
}

.top-navigation a{
    float: right;
    list-style-type: none;  
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}

.top-navigation a:visited{
    text-decoration: none;
    color: white;
}

.top-navigation a {
    float: left;
    display: inline;
    width: 90px;
    height: 60px;
    margin: 0;
    text-align: center;
    line-height: 60px;
    font-size: 0.875rem;
}

.top-navigation a:hover {
    background-color: white;
    color: #707070;
    text-decoration: underline;
}
/**/


/*----------------------------------------------------------*/


/*Banner image - one on every page, has meaningful message across it*/
.banner-image {
    background-color: #445265;
    background-size: cover;
    position: relative;
    padding: 0;
    height: 400px; /*changed to 400px from 350px for desktop version, felt more impactful*/
    width: 100%;
}

#home-banner {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) ) , url('images/home-banner.jpg');
}

#animals-banner {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) ) , url('images/animals-banner.jpg');
    background-position: center;
}

#animals-orangutan-banner {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) ) , url('images/orangutan-banner.jpg');
    background-position: bottom;
}

#animals-elephant-banner {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) ) , url('images/elephant-banner.jpg');
    background-position: center;
}

#animals-leopard-banner {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) ) , url('images/jaguar-banner.jpg');
    background-position: bottom;
}

#animals-tiger-banner {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) ) , url('images/tiger-banner.jpg');
    background-position: center;
}

#animals-seaturtle-banner {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) ) , url('images/seaturtle-banner.jpg');
    background-position: center;
}

#animals-penguin-banner {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) ) , url('images/galapagos-banner.jpg');
    background-position: center;
}

#climate-banner {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) ) , url('images/climate-banner.webp');
    background-position: bottom;
}

#resources-banner {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) ) , url('images/resources-banner.webp');
    background-position: center;
}
/*Banner image ends*/


/*----------------------------------------------------------*/


/*Hero message across banner image*/
.message-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.meaningful-message {   
    width: 960px;
    margin: auto;
    padding-top: 70px;
    max-width: 100%;
    text-align: left;
    align-content: center;
}

.meaningful-message h1 {
    color: white;
    max-width: 100%;
}

.meaningful-message span {
    font-size: 2rem;
    color: white;
    max-width: 100%;
}
/**/


/*----------------------------------------------------------*/


/*The first and second section of each page - that contains general dialog explaining site content*/
.site-main-content {
    margin: 20px auto 50px;
    width: 960px;
    max-width: 100%;
    overflow: auto;
}

.site-main-content h4{
    padding: 0;
}

table {
    margin: 16px auto;
    border-collapse: collapse;
}
table, td, th {
    border: 1px solid #000000;
    padding: 2px;
}

td {
    height: 50px;
    padding: 16px;
    background-color: #707070;
    color: white;
}
td:nth-child(1) {  
    width: 200px;
    background-color: #252525;
    color:  white;
    text-align: center;
}
th {
    text-align: left;
}

/**/


/**/
.secondary-page-generic-content {
    margin: 16px auto;
    width: 960px;
    height: auto;
    max-width: 100%;
    overflow: auto;
}

.secondary-page-generic-content h4 {
    padding: 0;
}

.secondary-page-generic-content a {
    text-decoration: none;
}

.secondary-page-generic-content a:visited {
    text-decoration: none;
    color: white;
}

.secondary-content-h2 {
    padding: 0;
}


/**/


/*----------------------------------------------------------*/


/*Content cards section - contains links to some external sites and displays images/text*/
.content-cards-main-content {
    margin: 20px auto auto;
    width: 960px;
    max-width: 100%;
    overflow: hidden;
    border-top: 2px solid #000000;
    padding-top: 10px;
}

/**/


/*----------------------------------------------------------*/



/*content-card-link-1 style*/
.content-card-link-1 {
    width: 32%;
    height: 300px;
    float: left;
    border: 1px solid #000000; 
    color: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) ), url(images/local-area-image.webp);
    background-size: cover;
}

.content-card-link-1:hover {
    background-color: #09a31b;
    background-image: none;
    color: white;
    opacity: 0.7;
}

#otter-link-text {
    width: 80%;
}
/*Content-card-link-1 style ends*/

/*content-card-link-2 style*/
.content-card-link-2 {
    width: 67%;
    height: 300px;
    float: left;
    margin-left: 9px;
    border: 1px solid #000000;
    color: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) ), url(images/foxes.webp);
    background-size: cover;
}

.content-card-link-2:hover {
    background-color: #09a31b;
    background-image: none;
    color: white;
    opacity: 0.7;
}
/*Content-card-link-2 style ends*/

/*content-card-link-3 style*/
.content-card-link-3 {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
    float: left;
    overflow: hidden;
    height: 300px;
    border: 1px solid #000000;
    color: #ffff;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) ), url(images/environment-image.webp);
    background-size: cover;
}

.content-card-link-3:hover {
    background-color: #09a31b;
    background-image: none;
    color: white;
    opacity: 0.7;
}
/*Content-card-link-3 style ends*/

/*Content-card universal styles*/
.content-card-link-text {
    position: relative;
    float: left;
}

.content-card-link-text h3 {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 24px
}

.content-card-link-text h4 {
    padding-left: 15px;
    bottom: 0;
}
/*content-card universal styles end*/


/*----------------------------------------------------------*/


/*Footer content and styles*/
footer {
    width: 100%;
    background-color: #252525;
    color: white;
    display: inline-block;
    margin: 0 auto;
    height: 150px;
    position: absolute;
    bottom: 0;
}

.footer-content {
    max-width: 100%;
    margin: auto;
    display: block;
    text-align: center;
    padding: 20px;
}

.footer-content a {
    color: white;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline; 
}
.footer-content a:visited {
    color: white;
    text-decoration: none;
}

.social-media-icons {
    fill: white;
    margin: 5px;
}
/*Footer content and styles ends*/


/*----------------------------------------------------------*/


/*Animal links*/
.animallinkwrapper {
    overflow: hidden;
}

ul.contentLinks {
    list-style-type:none;
    padding:0;
    margin: 60px auto 100px auto;
    width: 960px; 
}

ul.contentLinks li { 
    width: 48%;
    height: 280px;
    background-color: #000000;
    float: left; margin: 1%;
    position: relative;
}

ul.contentLinks li a {
    width: 100%;
    height: 100%;
    display: block;
}

ul.contentLinks li span {
    color: #ffffff;
    position: absolute;
    bottom: 30px; left: 30px;
    font-size:1.25rem;
}

.animal1 {  
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) ) , url("./images/orang3.webp") no-repeat center;
    background-size: 170%; -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-out;
}

.animal1:hover {
    opacity: 0.8;
    background-size: 180%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color:#f7710f;
}

.animal2 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) ) , url("./images/elephant3.webp") no-repeat center;
    background-size: 190%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.animal2:hover {
    opacity: 0.8;
    background-size: 200%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color:#f7710f;
}

.animal3 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) ) , url("./images/jaguar.jpg") no-repeat center;
    background-size: 170%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.animal3:hover {
    opacity: 0.8;
    background-size: 180%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color:#f7710f;
}

.animal4 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) ) , url("./images/tiger.jpg") no-repeat center;
    background-size: 200%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.animal4:hover {
    opacity: 0.8;
    background-size: 210%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color:#f7710f;
}

.animal5 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) ) , url("./images/seaturt4.jpg") no-repeat center;
    background-size: 170%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.animal5:hover {
    opacity: 0.8;
    background-size: 180%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color:#f7710f;
}

.animal6 { 
    background: url("./images/penguin.jpg") no-repeat top;
    background-size: 170%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.animal6:hover {
    opacity: 0.8;
    background-size: 180%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color:#f7710f;}
/*Animal links ends*/

    
/*----------------------------------------------------------*/


/*Responsive image gallery for index page*/
div.gallery {
    margin-bottom: 15px;
}

div.gallery:hover {
    -webkit-box-shadow:inset 0 0 0 1px #ffffff;
    -moz-box-shadow:inset 0 0 0 1px #ffffff;
    box-shadow:inset 0 0 0 1px #ffffff;
    color: black;
    
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.gallery img:hover {
    opacity: 0.8;
    transition: 0.2s;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 1px;
    float: left;
    width: 24.99999%;
    margin-bottom: 5px;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;    
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}

#gallery-wrapper {
    overflow: auto;
}

#wrapper h4 {

}

.lightbox-h4 {
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
    text-decoration: none;
    position: relative;
    top: 0;
}
/*Responsibe image gallery ends*/


/*generic content-containers*/
.container-row {
    display: flex;
    margin: 16px auto;
}


#container-row-index-top {
    padding-top: 10px;
}


.content-container-left-60 {
    width: 60%;
    float: left;
    padding-right: 30px;
    margin-top: 16px;
    flex: auto;
}

.content-container-left-80 {
    width: 80%;
    float: left;
    padding-right: 30px;
    margin-top: 16px;
    flex: auto;
}

.content-container-left-40 {
    width: 39.9%;
    float: left;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
    flex: auto;
}


.content-container-left-40 h4 {
    color: white;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    padding: 20px;
}

.content-container-left-40 a {
    color: black;
    text-decoration: none;
}

.content-container-left-40 a:hover {
    text-decoration: underline;
}

.content-container-left-40 a:visited {
    color: black;
    text-decoration: none;
}

.content-container-right-20 {
    width: 19.999%;
    float: left;
    background-color: aliceblue;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 16px;
    position: relative;
    flex: auto;
}

.content-container-right-40 {
    width: 39.999%;
    float: left;
    background-color: aliceblue;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 16px;
    position: relative;
    flex: auto;
    
}

.content-container-right-40 h4 {
    color: white;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    padding: 20px;
}

.content-container-right-60 {
    width: 60%;
    float: left;
    margin-top: 16px;
    padding-left: 30px;
    padding-right: 0;
    flex: auto;
}

.content-container-right-60 ul {
    width: 100%;
    padding: 16px;;
    text-align: left;
    margin: auto;
    overflow: auto;
    border-bottom: 2px solid black;
}

.content-container-right-60 li {
    list-style: none;
    float: left;
    width: 50%;
}

.content-container-center-100 {   
    width: 100%;
    margin: 16px auto auto;
    overflow: auto;
    position: relative;
}

.content-container-center-100 a {   
    color: black;
    text-decoration: none;
}

.content-container-center-100 a:visited {   
    color: black;
    text-decoration: none;
}

.content-container-center-100 a:hover {   
    color: black;
    text-decoration: underline;
}

.youtubevid {
    width: 100%;
    height: 540px;
    border: 0;
}


.content-container-center-100 h4 {
    position: absolute;
    color: white;
    bottom: 0;
    padding: 20px;
}

#profilepic{
    background: url("./images/profile-picture.jpg") no-repeat center;
    background-size: cover;
    border: 0 solid #000;
    border-radius: 10px;
    height: 320px;
    
}

#profilepic:hover{
    opacity: 0.9;
}

#climate-image-1 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) ), url("./images/climate-image-1.jpg") no-repeat center;
    border-radius: 10px;
    background-size: cover;
}

#climate-image-2 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) ), url("./images/climate-image-2.jpg") no-repeat center;
    border-radius: 10px;
    background-size: cover;

}

#climate-image-3 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) ), url("./images/climate-image-3.jpg") no-repeat center;
    height: 400px;
    border-radius: 10px;
    background-size: cover;
}

#resources-image-1 {
    background: url("./images/resources-image-1.jpg") no-repeat center;
    background-size: 80%;
    border-radius: 10px;
}

#resources-image-1:hover{
    opacity: 0.9;
}

#orangutan-image-1 {
    background: url("./images/orangutan-animals-image-1.jpg") no-repeat center;
    background-size: cover;
    border-radius: 10px;
}

#orangutan-image-2 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) ), url("images/orangutan-animals-image-2.jpg") no-repeat center;
    background-size: cover;
    border-radius: 10px;
    height: 400px;
}

#elephant-image-1 {
    background: url("./images/elephant-animals-image-1.jpg") no-repeat center;
    background-size: cover;
    border-radius: 10px;
}

#elephant-image-2 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) ), url("images/elephant-animals-image-2.jpg") no-repeat center;
    background-size: cover;
    border-radius: 10px;
    height: 400px;
}

#jaguar-image-1 {
    background: url("./images/jaguar-animals-image-1.jpg") no-repeat center;
    background-size: cover;
    border-radius: 10px;
}

#jaguar-image-2 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) ), url("images/jaguar-animals-image-2.jpg") no-repeat center;
    background-size: cover;
    border-radius: 10px;
    height: 400px;
}

#tiger-image-1 {
    background: url("./images/tiger-animals-image-1.jpg") no-repeat center;
    background-size: cover;
    border-radius: 10px;
}

#tiger-image-2 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) ), url("images/tiger-animals-image-2.jpg") no-repeat center;
    background-size: cover;
    border-radius: 10px;
    height: 400px;
}

#seaturtle-image-1 {
    background: url("./images/seaturtle-animals-image-1.jpg") no-repeat center;
    background-size: cover;
    border-radius: 10px;
}

#seaturtle-image-2 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) ), url("images/seaturtle-animals-image-2.jpg") no-repeat center;
    background-size: cover;
    border-radius: 10px;
    height: 400px;
}

#penguin-image-1 {
    background: url("./images/penguin-animals-image-1.jpg") no-repeat center;
    background-size: cover;
    border-radius: 10px;
}

#penguin-image-2 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) ), url("images/penguin-animals-image-2.jpg") no-repeat center;
    background-size: cover;
    border-radius: 10px;
    height: 400px;
}

/*generic content containers ends*/






/*----------------------------------------------------------*/


/*Desktop media query to hide mobile nav bar in desktop view*/
@media all and (min-width:900px) {
    .hamburger-menu {display: none;}
    .mob-top-navigation {display:none;}
}
/**/


/*----------------------------------------------------------*/



/*Ipad/large mobile media query*/
@media screen and (max-width: 900px) {
    
    
    /*----------------------------------------------------------*/
    
    
    /*Gallery responsiveness*/
    .responsive { width: 49.99999%; margin: 6px 0;}
    .lightbox img {display: none;}
    .lightbox {display: none!important;}
    #wrapper h4 {display: none;}
    
    /**/
    
    
    /*----------------------------------------------------------*/
    
    
    /*--Top banner contents--*/

    /*Mobile navigation*/
    .top-navigation {display: none;}
    .hamburger-menu {display: block; float: left; ; margin-left: 16px; margin-right: 16px; font-size: 1.4375rem}
    .mob-top-navigation {display: block;}
    .hbm {width: 25px; height:3px;}
    /**/
    
    /*Mobile logo*/
    .brand-logo {margin: auto; font-size: 1.25rem; border-left: 1px solid #707070; padding-left: 15px; line-height: 50px;}
    /**/
    
    /*--Top banner contents ends--*/
    
    
    /*----------------------------------------------------------*/
    
    
    /*Banner images*/
    .banner-image {height: 250px;}
    
    .message-container { position: relative; width: 90%; margin: 0 auto auto;}
    .meaningful-message h1 {font-size: 2rem}
    .meaningful-message span {font-size: 2rem}
    .meaningful-message {margin-left: 16px; width: 90%; padding-top: 2em;}
    /*Banner images ends*/
    
    
    /*----------------------------------------------------------*/
    
    
    /*Primary content sections on page, including the header styling*/
    .site-main-content {width: 90%; margin-top: 20px; margin-bottom: 20px;}
    .secondary-page-generic-content {width: 90%;}
    
    .site-main-content h1 {width: 100%; font-size: 2rem; text-align: left;}
    .site-main-content h2 {width: 100%; font-size: 1.2rem; text-align: left;}
    .site-main-content h3 {width: 100%; font-size: 1.2rem; text-align: left;}
    .site-main-content h4 {padding: 20px;}
    hr {display: none;}
    /*Primary content sections ends*/
    
    
    /*generic content-containers*/
    .container-row {display: block;}
    
    .content-container-left-40 {width: 100%;}
    .content-container-right-40 {width: 100%; height: 300px; margin-bottom: 16px; margin-top: 16px;}
    .content-container-left-60 {width: 100%; padding: 0; flex: none;}
    .content-container-left-60 h3 {text-align: center;}
    .content-container-left-80 {width: 100%; padding: 0;}
        
    .content-container-right-60 {width:100%; padding: 0; margin-top: 15px; flex: none;}
    .content-container-right-60 ul {width:100%; padding: 0; border-bottom: 0;}
    .content-container-right-60 li {width:100%; padding: 0;}
    .content-container-right-60 h2 {text-align: center;}
    .content-container-right-60 h3 {text-align: center;}
    .content-container-right-20 {width: 100%;}
    
    .content-container-center-100 {}
    .youtubevid { width: 100%; height: 360px; /* 480px */}
    
    #profilepic {height: 250px; background-size: cover;}
    #climate-image-1 {height: 200px;}
    #climate-image-2 {height: 200px;}
    #climate-image-3 {height: 300px;}
    #resources-image-1 {height: 300px; background-size: contain;}
    #orangutan-image-1 {height: 200px; border-radius: 0; background-image: url(images/orangutan-animals-image-1a.jpg); background-size: cover}
    #elephant-image-1 {height: 200px; border-radius: 0; background-image: url(images/elephant-animals-image-1a.jpg); background-size: cover}
    #jaguar-image-1 {height: 200px; border-radius: 0; background: url(images/jaguar-animals-image-1a.jpg) no-repeat center; background-size: cover}
    #tiger-image-1 {height: 200px; background: url(images/tiger-animals-image-1a.jpg) no-repeat center; background-size: cover}
    #seaturtle-image-1 {height: 200px; background: url(images/seaturtle-animals-image-1a.jpg) no-repeat top; background-size: 100%;}
    #penguin-image-1 {height: 200px; background: url(images/penguin-animals-image-1a.jpg); background-size: cover;}
    
    td {padding: 16px;}
    td:nth-child(1) {width: 29.9%;}
    /*generic content containers ends*/
    
    
    /*----------------------------------------------------------*/
    

    /*--Resources content cards section for mobile--*/    
    .content-cards-main-content {width: 90%; margin: auto;}
    
    /*Resources cards container header styles*/
    .content-cards-main-content h2 {font-size: 1.5rem;}
    /*Resources cards container header styles ends*/
    
    
    /*Resources content card text styles*/
    .content-card-link-text {width: 80%; margin: 0; padding: 10px;}
    .content-card-link-text h3 {margin: 0; padding: 0;}
    .content-card-link-text h4 {margin: 0; padding: 0;}
    /**/
    /*Resources content cards links*/
    .content-card-link-1 {width: 100%; float: none; height: 400px; margin: auto auto 20px; border: 0; overflow: hidden; border-bottom: 0 solid #707070; background-color: #edf6ff;}
    .content-card-link-1:hover {background-image: url(images/local-area-image.webp); opacity: 1; color: white;}
    
    .content-card-link-2 {width: 100%; float: none; height: 400px; margin: auto auto 20px; border: 0; overflow: hidden; border-bottom: 0 solid #707070; background-color: #edf6ff;}
    .content-card-link-2:hover {background-image: url(images/foxes.webp); opacity: 1; color: white;}
    
    .content-card-link-3 {width: 100%; float: none; height: 400px; margin: auto auto 20px; border: 0; overflow: hidden; border-bottom: 0 solid #707070; background-color: #edf6ff;}
    .content-card-link-3:hover {background-image: url(images/environment-image.webp); opacity: 1; color: white;} 
    /*Resources content cards links ends*/
    
    /*--Resources content cards section ends--*/
    
    
    /*----------------------------------------------------------*/
    
        
    /*Animals content card links*/
    ul.contentLinks { width: 100%; margin: auto; padding: 0; }
    ul.contentLinks li { height:250px; }
    .animal1 {background-size: cover; }
    .animal1:hover {  opacity: 1; background-size: cover; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease; background-color:#f7710f;}
    .animal2 {background-size: cover;}
    .animal2:hover {  opacity: 1; background-size: cover; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease; background-color:#f7710f;}
    .animal3 {background-size: cover;}
    .animal3:hover {  opacity: 1; background-size: cover; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease; background-color:#f7710f;}
    .animal4 {background-size: cover;}
    .animal4:hover {  opacity: 1; background-size: cover; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease; background-color:#f7710f;}
    .animal5 {background-size: cover;}
    .animal5:hover {  opacity: 1; background-size: cover; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease; background-color:#f7710f;}
    .animal6 {background-size: cover;}
    .animal6:hover {  opacity: 1; background-size: cover; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease; background-color:#f7710f;}
    /*Animals content card ends*/
    
    
    /*----------------------------------------------------------*/
}

/*Ipad/large mobile media query ends*/





/*Small mobile device media query*/
@media screen and (max-width: 700px) {
    
    /*----------------------------------------------------------*/
    
    
    /*Gallery responsiveness*/
    .responsive {width: 100%; }
    .lightbox img {display: none;}
    .lightbox {display: none!important;}
    #wrapper h4 {display: none;}
    /**/
    
    
    /*----------------------------------------------------------*/
    
    
    /*--Top banner contents--*/
    
    /*Mobile navigation*/
    .top-navigation {display: none;}
    .hamburger-menu {display: block; float: left; ; margin-left: 16px; margin-right: 16px; font-size: 1.4375rem;}
    .hbm {width: 25px; height:3px;}
    /**/
    
    /*top banner styles*/
    .brand-logo {margin: auto; font-size: 1rem; border-left: 1px solid #707070; padding-left: 15px; line-height: 50px; width: 70%;}
    .top-banner {height: 50px;}
    .top-banner-content {float: none;}
    /**/
    
    /*--Top banner contents ends--*/
    
    
    /*----------------------------------------------------------*/
   
    
    /*Banner images*/
    .banner-image {height: 350px;}
    .meaningful-message h1 {font-size: 1.8rem;}
    .meaningful-message span {font-size:1.8rem;}
    /*Banner images ends*/
    
    
    /*----------------------------------------------------------*/
        
    
    /*Primary content sections on page, including the header styling*/
    .site-main-content h1 {width: 100%; font-size: 2rem; text-align: left;}
    .site-main-content h2 {width: 100%; font-size: 1rem; text-align: left;}
    .site-main-content h3 {width: 100%; font-size: 1.2rem; text-align: left;}
    .secondary-content-h2 {text-align: left;}
    /*Primary content sections ends*/
    
    /*generic content-containers*/
    
    .content-container-left-60 {width: 100%; padding-right: 0;}
    .content-container-right-40 {width: 100%; height: 300px;}
    .youtubevid { width: 100%; height: 270px; /* 320px */}
    /*generic content containers ends*/
    
    
    /*----------------------------------------------------------*/
    
    
    /*--Resources content cards section for mobile--*/  
    .content-cards-main-content {width: 90%; margin: auto;}
    
    /*Resources cards container header styles*/
    .content-cards-main-content h1 {width: 90%; font-size: 1.75rem; text-align: center; margin: auto auto 20px; border-bottom: 1px solid #707070; border-bottom-width:medium;}
    .content-cards-main-content h2 {font-size: 1.5rem;}
    /*Resources cards container header styles ends*/
    
    
    
    /*Resources content card text styles*/
    .content-card-link-text {width: 100%; margin: 0; padding: 10px;}
    #otter-link-text {width: 100%;}
    .content-card-link-text h3 {margin: 0; padding: 0;}
    .content-card-link-text h4 {margin: 0; padding: 0;}
    /**/
    /*Resources content cards links*/
    .content-card-link-1 {height: 250px; margin-bottom: 10px;}
    .content-card-link-1:hover {background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ), url(images/local-area-image.webp); opacity: 1; color: white;}
    
    .content-card-link-2 {height: 250px; margin-bottom: 10px}
    .content-card-link-2:hover {background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ), url(images/foxes.webp); opacity: 1; color: white;}
    
    .content-card-link-3 {height: 250px;}
    .content-card-link-3:hover {background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ), url(images/environment-image.webp); opacity: 1; color: white;}
    /*Resources content cards links ends*/
    
    /*--Resources content cards section ends--*/
    
    
    /*----------------------------------------------------------*/
    
    
    /*Animals content card links*/
    ul.contentLinks { width: 90%; margin: auto; padding: 0; }
    ul.contentLinks li { width: 100%; } 
    
    
    .animal1 {background-size: cover; }
    .animal1:hover {  opacity: 1; background-size: cover; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease; background-color:#f7710f;}
    .animal2 {background-size: cover;}
    .animal2:hover {  opacity: 1; background-size: cover; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease; background-color:#f7710f;}
    .animal3 {background-size: cover;}
    .animal3:hover {  opacity: 1; background-size: cover; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease; background-color:#f7710f;}
    .animal4 {background-size: cover;}
    .animal4:hover {  opacity: 1; background-size: cover; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease; background-color:#f7710f;}
    .animal5 {background-size: cover;}
    .animal5:hover {  opacity: 1; background-size: cover; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease; background-color:#f7710f;}
    .animal6 {background-size: cover;}
    .animal6:hover {  opacity: 1; background-size: cover; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease; background-color:#f7710f;}
    /*Animals content card ends*/
    
    /*----------------------------------------------------------*/
}
/*Small mobile device media query ends*/




